:root {
    --color-blackblack-100: #fff;
    --color-blackblack-200: #d2d2d2;
    --color-blackblack-300: #757575;
    --color-blackblack-400: #020202;
    --color-overlaysdark-overlay-10: #0000001a;
    --color-overlaysdark-overlay-40: #19213d66;
    --color-overlaysdark-overlay-50: #19213d80;
    --color-overlaysdark-overlay-65: #19213da6;
    --color-overlaysdark-overlay-80: #19213dcc;
    --color-overlayswhite-overlay-40: #fff6;
    --color-overlayswhite-overlay-50: #ffffff80;
    --color-overlayswhite-overlay-65: #ffffffa6;
    --color-overlayswhite-overlay-80: #fffc;
    --display-1-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-1-extra-bold-font-size: 12px;
    --display-1-extra-bold-font-style: normal;
    --display-1-extra-bold-font-weight: 800;
    --display-1-extra-bold-letter-spacing: 0px;
    --display-1-extra-bold-line-height: 18px;
    --display-1-regular-font-family: "Inter-Regular", Helvetica;
    --display-1-regular-font-size: 12px;
    --display-1-regular-font-style: normal;
    --display-1-regular-font-weight: 400;
    --display-1-regular-letter-spacing: 0px;
    --display-1-regular-line-height: 18px;
    --display-1-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-1-semi-bold-font-size: 12px;
    --display-1-semi-bold-font-style: normal;
    --display-1-semi-bold-font-weight: 600;
    --display-1-semi-bold-letter-spacing: 0px;
    --display-1-semi-bold-line-height: 18px;
    --display-1-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-1-uppercase-extra-bold-font-size: 12px;
    --display-1-uppercase-extra-bold-font-style: normal;
    --display-1-uppercase-extra-bold-font-weight: 800;
    --display-1-uppercase-extra-bold-letter-spacing: 0.48px;
    --display-1-uppercase-extra-bold-line-height: 18px;
    --display-1-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-1-uppercase-regular-font-size: 12px;
    --display-1-uppercase-regular-font-style: normal;
    --display-1-uppercase-regular-font-weight: 400;
    --display-1-uppercase-regular-letter-spacing: 0.48px;
    --display-1-uppercase-regular-line-height: 18px;
    --display-1-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-1-uppercase-semi-bold-font-size: 12px;
    --display-1-uppercase-semi-bold-font-style: normal;
    --display-1-uppercase-semi-bold-font-weight: 600;
    --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
    --display-1-uppercase-semi-bold-line-height: 18px;
    --display-10-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-10-extra-bold-font-size: 60px;
    --display-10-extra-bold-font-style: normal;
    --display-10-extra-bold-font-weight: 800;
    --display-10-extra-bold-letter-spacing: 0px;
    --display-10-extra-bold-line-height: 60px;
    --display-10-regular-font-family: "Inter-Regular", Helvetica;
    --display-10-regular-font-size: 60px;
    --display-10-regular-font-style: normal;
    --display-10-regular-font-weight: 400;
    --display-10-regular-letter-spacing: 0px;
    --display-10-regular-line-height: 60px;
    --display-10-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-10-semi-bold-font-size: 60px;
    --display-10-semi-bold-font-style: normal;
    --display-10-semi-bold-font-weight: 600;
    --display-10-semi-bold-letter-spacing: 0px;
    --display-10-semi-bold-line-height: 60px;
    --display-10-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-10-uppercase-extra-bold-font-size: 60px;
    --display-10-uppercase-extra-bold-font-style: normal;
    --display-10-uppercase-extra-bold-font-weight: 800;
    --display-10-uppercase-extra-bold-letter-spacing: 3.6px;
    --display-10-uppercase-extra-bold-line-height: 60px;
    --display-10-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-10-uppercase-regular-font-size: 60px;
    --display-10-uppercase-regular-font-style: normal;
    --display-10-uppercase-regular-font-weight: 400;
    --display-10-uppercase-regular-letter-spacing: 3.6px;
    --display-10-uppercase-regular-line-height: 60px;
    --display-10-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-10-uppercase-semi-bold-font-size: 60px;
    --display-10-uppercase-semi-bold-font-style: normal;
    --display-10-uppercase-semi-bold-font-weight: 600;
    --display-10-uppercase-semi-bold-letter-spacing: 3.6px;
    --display-10-uppercase-semi-bold-line-height: 60px;
    --display-11-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-11-extra-bold-font-size: 72px;
    --display-11-extra-bold-font-style: normal;
    --display-11-extra-bold-font-weight: 800;
    --display-11-extra-bold-letter-spacing: 0px;
    --display-11-extra-bold-line-height: 72px;
    --display-11-regular-font-family: "Inter-Regular", Helvetica;
    --display-11-regular-font-size: 72px;
    --display-11-regular-font-style: normal;
    --display-11-regular-font-weight: 400;
    --display-11-regular-letter-spacing: 0px;
    --display-11-regular-line-height: 72px;
    --display-11-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-11-semi-bold-font-size: 72px;
    --display-11-semi-bold-font-style: normal;
    --display-11-semi-bold-font-weight: 600;
    --display-11-semi-bold-letter-spacing: 0px;
    --display-11-semi-bold-line-height: 72px;
    --display-11-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-11-uppercase-extra-bold-font-size: 72px;
    --display-11-uppercase-extra-bold-font-style: normal;
    --display-11-uppercase-extra-bold-font-weight: 800;
    --display-11-uppercase-extra-bold-letter-spacing: 4.32px;
    --display-11-uppercase-extra-bold-line-height: 72px;
    --display-11-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-11-uppercase-regular-font-size: 72px;
    --display-11-uppercase-regular-font-style: normal;
    --display-11-uppercase-regular-font-weight: 400;
    --display-11-uppercase-regular-letter-spacing: 4.32px;
    --display-11-uppercase-regular-line-height: 72px;
    --display-11-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-11-uppercase-semi-bold-font-size: 72px;
    --display-11-uppercase-semi-bold-font-style: normal;
    --display-11-uppercase-semi-bold-font-weight: 600;
    --display-11-uppercase-semi-bold-letter-spacing: 4.32px;
    --display-11-uppercase-semi-bold-line-height: 72px;
    --display-12-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-12-extra-bold-font-size: 96px;
    --display-12-extra-bold-font-style: normal;
    --display-12-extra-bold-font-weight: 800;
    --display-12-extra-bold-letter-spacing: 0px;
    --display-12-extra-bold-line-height: 96px;
    --display-12-regular-font-family: "Inter-Regular", Helvetica;
    --display-12-regular-font-size: 96px;
    --display-12-regular-font-style: normal;
    --display-12-regular-font-weight: 400;
    --display-12-regular-letter-spacing: 0px;
    --display-12-regular-line-height: 96px;
    --display-12-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-12-semi-bold-font-size: 96px;
    --display-12-semi-bold-font-style: normal;
    --display-12-semi-bold-font-weight: 600;
    --display-12-semi-bold-letter-spacing: 0px;
    --display-12-semi-bold-line-height: 96px;
    --display-12-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-12-uppercase-extra-bold-font-size: 96px;
    --display-12-uppercase-extra-bold-font-style: normal;
    --display-12-uppercase-extra-bold-font-weight: 800;
    --display-12-uppercase-extra-bold-letter-spacing: 5.76px;
    --display-12-uppercase-extra-bold-line-height: 96px;
    --display-12-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-12-uppercase-regular-font-size: 96px;
    --display-12-uppercase-regular-font-style: normal;
    --display-12-uppercase-regular-font-weight: 400;
    --display-12-uppercase-regular-letter-spacing: 5.76px;
    --display-12-uppercase-regular-line-height: 96px;
    --display-12-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-12-uppercase-semi-bold-font-size: 96px;
    --display-12-uppercase-semi-bold-font-style: normal;
    --display-12-uppercase-semi-bold-font-weight: 600;
    --display-12-uppercase-semi-bold-letter-spacing: 5.76px;
    --display-12-uppercase-semi-bold-line-height: 96px;
    --display-13-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-13-extra-bold-font-size: 120px;
    --display-13-extra-bold-font-style: normal;
    --display-13-extra-bold-font-weight: 800;
    --display-13-extra-bold-letter-spacing: 0px;
    --display-13-extra-bold-line-height: 120px;
    --display-13-regular-font-family: "Inter-Regular", Helvetica;
    --display-13-regular-font-size: 120px;
    --display-13-regular-font-style: normal;
    --display-13-regular-font-weight: 400;
    --display-13-regular-letter-spacing: 0px;
    --display-13-regular-line-height: 120px;
    --display-13-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-13-semi-bold-font-size: 120px;
    --display-13-semi-bold-font-style: normal;
    --display-13-semi-bold-font-weight: 600;
    --display-13-semi-bold-letter-spacing: 0px;
    --display-13-semi-bold-line-height: 120px;
    --display-13-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-13-uppercase-extra-bold-font-size: 120px;
    --display-13-uppercase-extra-bold-font-style: normal;
    --display-13-uppercase-extra-bold-font-weight: 800;
    --display-13-uppercase-extra-bold-letter-spacing: 7.2px;
    --display-13-uppercase-extra-bold-line-height: 120px;
    --display-13-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-13-uppercase-regular-font-size: 120px;
    --display-13-uppercase-regular-font-style: normal;
    --display-13-uppercase-regular-font-weight: 400;
    --display-13-uppercase-regular-letter-spacing: 7.2px;
    --display-13-uppercase-regular-line-height: 120px;
    --display-13-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-13-uppercase-semi-bold-font-size: 120px;
    --display-13-uppercase-semi-bold-font-style: normal;
    --display-13-uppercase-semi-bold-font-weight: 600;
    --display-13-uppercase-semi-bold-letter-spacing: 7.2px;
    --display-13-uppercase-semi-bold-line-height: 120px;
    --display-14-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-14-extra-bold-font-size: 150px;
    --display-14-extra-bold-font-style: normal;
    --display-14-extra-bold-font-weight: 800;
    --display-14-extra-bold-letter-spacing: 0px;
    --display-14-extra-bold-line-height: 150px;
    --display-14-regular-font-family: "Inter-Regular", Helvetica;
    --display-14-regular-font-size: 150px;
    --display-14-regular-font-style: normal;
    --display-14-regular-font-weight: 400;
    --display-14-regular-letter-spacing: 0px;
    --display-14-regular-line-height: 150px;
    --display-14-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-14-semi-bold-font-size: 150px;
    --display-14-semi-bold-font-style: normal;
    --display-14-semi-bold-font-weight: 600;
    --display-14-semi-bold-letter-spacing: 0px;
    --display-14-semi-bold-line-height: 150px;
    --display-14-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-14-uppercase-extra-bold-font-size: 150px;
    --display-14-uppercase-extra-bold-font-style: normal;
    --display-14-uppercase-extra-bold-font-weight: 800;
    --display-14-uppercase-extra-bold-letter-spacing: 9px;
    --display-14-uppercase-extra-bold-line-height: 150px;
    --display-14-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-14-uppercase-regular-font-size: 150px;
    --display-14-uppercase-regular-font-style: normal;
    --display-14-uppercase-regular-font-weight: 400;
    --display-14-uppercase-regular-letter-spacing: 9px;
    --display-14-uppercase-regular-line-height: 150px;
    --display-14-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-14-uppercase-semi-bold-font-size: 150px;
    --display-14-uppercase-semi-bold-font-style: normal;
    --display-14-uppercase-semi-bold-font-weight: 600;
    --display-14-uppercase-semi-bold-letter-spacing: 9px;
    --display-14-uppercase-semi-bold-line-height: 150px;
    --display-15-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-15-extra-bold-font-size: 180px;
    --display-15-extra-bold-font-style: normal;
    --display-15-extra-bold-font-weight: 800;
    --display-15-extra-bold-letter-spacing: 0px;
    --display-15-extra-bold-line-height: 180px;
    --display-15-regular-font-family: "Inter-Regular", Helvetica;
    --display-15-regular-font-size: 180px;
    --display-15-regular-font-style: normal;
    --display-15-regular-font-weight: 400;
    --display-15-regular-letter-spacing: 0px;
    --display-15-regular-line-height: 180px;
    --display-15-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-15-semi-bold-font-size: 180px;
    --display-15-semi-bold-font-style: normal;
    --display-15-semi-bold-font-weight: 600;
    --display-15-semi-bold-letter-spacing: 0px;
    --display-15-semi-bold-line-height: 180px;
    --display-15-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-15-uppercase-extra-bold-font-size: 180px;
    --display-15-uppercase-extra-bold-font-style: normal;
    --display-15-uppercase-extra-bold-font-weight: 800;
    --display-15-uppercase-extra-bold-letter-spacing: 10.8px;
    --display-15-uppercase-extra-bold-line-height: 180px;
    --display-15-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-15-uppercase-regular-font-size: 180px;
    --display-15-uppercase-regular-font-style: normal;
    --display-15-uppercase-regular-font-weight: 400;
    --display-15-uppercase-regular-letter-spacing: 10.8px;
    --display-15-uppercase-regular-line-height: 180px;
    --display-15-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-15-uppercase-semi-bold-font-size: 180px;
    --display-15-uppercase-semi-bold-font-style: normal;
    --display-15-uppercase-semi-bold-font-weight: 600;
    --display-15-uppercase-semi-bold-letter-spacing: 10.8px;
    --display-15-uppercase-semi-bold-line-height: 180px;
    --display-16-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-16-extra-bold-font-size: 200px;
    --display-16-extra-bold-font-style: normal;
    --display-16-extra-bold-font-weight: 800;
    --display-16-extra-bold-letter-spacing: 0px;
    --display-16-extra-bold-line-height: 200px;
    --display-16-regular-font-family: "Inter-Regular", Helvetica;
    --display-16-regular-font-size: 200px;
    --display-16-regular-font-style: normal;
    --display-16-regular-font-weight: 400;
    --display-16-regular-letter-spacing: 0px;
    --display-16-regular-line-height: 200px;
    --display-16-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-16-semi-bold-font-size: 200px;
    --display-16-semi-bold-font-style: normal;
    --display-16-semi-bold-font-weight: 600;
    --display-16-semi-bold-letter-spacing: 0px;
    --display-16-semi-bold-line-height: 200px;
    --display-16-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-16-uppercase-extra-bold-font-size: 200px;
    --display-16-uppercase-extra-bold-font-style: normal;
    --display-16-uppercase-extra-bold-font-weight: 800;
    --display-16-uppercase-extra-bold-letter-spacing: 0px;
    --display-16-uppercase-extra-bold-line-height: 200px;
    --display-16-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-16-uppercase-regular-font-size: 200px;
    --display-16-uppercase-regular-font-style: normal;
    --display-16-uppercase-regular-font-weight: 400;
    --display-16-uppercase-regular-letter-spacing: 0px;
    --display-16-uppercase-regular-line-height: 200px;
    --display-16-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-16-uppercase-semi-bold-font-size: 200px;
    --display-16-uppercase-semi-bold-font-style: normal;
    --display-16-uppercase-semi-bold-font-weight: 600;
    --display-16-uppercase-semi-bold-letter-spacing: 0px;
    --display-16-uppercase-semi-bold-line-height: 200px;
    --display-17-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-17-extra-bold-font-size: 230px;
    --display-17-extra-bold-font-style: normal;
    --display-17-extra-bold-font-weight: 800;
    --display-17-extra-bold-letter-spacing: 0px;
    --display-17-extra-bold-line-height: 230px;
    --display-17-regular-font-family: "Inter-Regular", Helvetica;
    --display-17-regular-font-size: 230px;
    --display-17-regular-font-style: normal;
    --display-17-regular-font-weight: 400;
    --display-17-regular-letter-spacing: 0px;
    --display-17-regular-line-height: 230px;
    --display-17-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-17-semi-bold-font-size: 230px;
    --display-17-semi-bold-font-style: normal;
    --display-17-semi-bold-font-weight: 600;
    --display-17-semi-bold-letter-spacing: 0px;
    --display-17-semi-bold-line-height: 230px;
    --display-17-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-17-uppercase-extra-bold-font-size: 230px;
    --display-17-uppercase-extra-bold-font-style: normal;
    --display-17-uppercase-extra-bold-font-weight: 800;
    --display-17-uppercase-extra-bold-letter-spacing: 0px;
    --display-17-uppercase-extra-bold-line-height: 230px;
    --display-17-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-17-uppercase-regular-font-size: 230px;
    --display-17-uppercase-regular-font-style: normal;
    --display-17-uppercase-regular-font-weight: 400;
    --display-17-uppercase-regular-letter-spacing: 0px;
    --display-17-uppercase-regular-line-height: 230px;
    --display-17-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-17-uppercase-semi-bold-font-size: 230px;
    --display-17-uppercase-semi-bold-font-style: normal;
    --display-17-uppercase-semi-bold-font-weight: 600;
    --display-17-uppercase-semi-bold-letter-spacing: 0px;
    --display-17-uppercase-semi-bold-line-height: 230px;
    --display-2-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-2-extra-bold-font-size: 14px;
    --display-2-extra-bold-font-style: normal;
    --display-2-extra-bold-font-weight: 800;
    --display-2-extra-bold-letter-spacing: 0px;
    --display-2-extra-bold-line-height: 20px;
    --display-2-regular-font-family: "Inter-Regular", Helvetica;
    --display-2-regular-font-size: 14px;
    --display-2-regular-font-style: normal;
    --display-2-regular-font-weight: 400;
    --display-2-regular-letter-spacing: 0px;
    --display-2-regular-line-height: 20px;
    --display-2-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-2-semi-bold-font-size: 14px;
    --display-2-semi-bold-font-style: normal;
    --display-2-semi-bold-font-weight: 600;
    --display-2-semi-bold-letter-spacing: 0px;
    --display-2-semi-bold-line-height: 20px;
    --display-2-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-2-uppercase-extra-bold-font-size: 14px;
    --display-2-uppercase-extra-bold-font-style: normal;
    --display-2-uppercase-extra-bold-font-weight: 800;
    --display-2-uppercase-extra-bold-letter-spacing: 0.84px;
    --display-2-uppercase-extra-bold-line-height: 20px;
    --display-2-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-2-uppercase-regular-font-size: 14px;
    --display-2-uppercase-regular-font-style: normal;
    --display-2-uppercase-regular-font-weight: 400;
    --display-2-uppercase-regular-letter-spacing: 0.84px;
    --display-2-uppercase-regular-line-height: 20px;
    --display-2-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-2-uppercase-semi-bold-font-size: 14px;
    --display-2-uppercase-semi-bold-font-style: normal;
    --display-2-uppercase-semi-bold-font-weight: 600;
    --display-2-uppercase-semi-bold-letter-spacing: 0.84px;
    --display-2-uppercase-semi-bold-line-height: 20px;
    --display-3-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-3-extra-bold-font-size: 16px;
    --display-3-extra-bold-font-style: normal;
    --display-3-extra-bold-font-weight: 800;
    --display-3-extra-bold-letter-spacing: 0px;
    --display-3-extra-bold-line-height: 22px;
    --display-3-regular-font-family: "Inter-Regular", Helvetica;
    --display-3-regular-font-size: 16px;
    --display-3-regular-font-style: normal;
    --display-3-regular-font-weight: 400;
    --display-3-regular-letter-spacing: 0px;
    --display-3-regular-line-height: 22px;
    --display-3-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-3-semi-bold-font-size: 16px;
    --display-3-semi-bold-font-style: normal;
    --display-3-semi-bold-font-weight: 600;
    --display-3-semi-bold-letter-spacing: 0px;
    --display-3-semi-bold-line-height: 22px;
    --display-3-underline-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-3-underline-extra-bold-font-size: 16px;
    --display-3-underline-extra-bold-font-style: normal;
    --display-3-underline-extra-bold-font-weight: 800;
    --display-3-underline-extra-bold-letter-spacing: 0px;
    --display-3-underline-extra-bold-line-height: 22px;
    --display-3-underline-regular-font-family: "Inter-Regular", Helvetica;
    --display-3-underline-regular-font-size: 16px;
    --display-3-underline-regular-font-style: normal;
    --display-3-underline-regular-font-weight: 400;
    --display-3-underline-regular-letter-spacing: 0px;
    --display-3-underline-regular-line-height: 22px;
    --display-3-underline-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-3-underline-semi-bold-font-size: 16px;
    --display-3-underline-semi-bold-font-style: normal;
    --display-3-underline-semi-bold-font-weight: 600;
    --display-3-underline-semi-bold-letter-spacing: 0px;
    --display-3-underline-semi-bold-line-height: 22px;
    --display-3-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-3-uppercase-extra-bold-font-size: 16px;
    --display-3-uppercase-extra-bold-font-style: normal;
    --display-3-uppercase-extra-bold-font-weight: 800;
    --display-3-uppercase-extra-bold-letter-spacing: 0.96px;
    --display-3-uppercase-extra-bold-line-height: 22px;
    --display-3-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-3-uppercase-regular-font-size: 16px;
    --display-3-uppercase-regular-font-style: normal;
    --display-3-uppercase-regular-font-weight: 400;
    --display-3-uppercase-regular-letter-spacing: 0.96px;
    --display-3-uppercase-regular-line-height: 22px;
    --display-3-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-3-uppercase-semi-bold-font-size: 16px;
    --display-3-uppercase-semi-bold-font-style: normal;
    --display-3-uppercase-semi-bold-font-weight: 600;
    --display-3-uppercase-semi-bold-letter-spacing: 0.96px;
    --display-3-uppercase-semi-bold-line-height: 22px;
    --display-4-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-4-extra-bold-font-size: 18px;
    --display-4-extra-bold-font-style: normal;
    --display-4-extra-bold-font-weight: 800;
    --display-4-extra-bold-letter-spacing: 0px;
    --display-4-extra-bold-line-height: 24px;
    --display-4-regular-font-family: "Inter-Regular", Helvetica;
    --display-4-regular-font-size: 18px;
    --display-4-regular-font-style: normal;
    --display-4-regular-font-weight: 400;
    --display-4-regular-letter-spacing: 0px;
    --display-4-regular-line-height: 24px;
    --display-4-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-4-semi-bold-font-size: 18px;
    --display-4-semi-bold-font-style: normal;
    --display-4-semi-bold-font-weight: 600;
    --display-4-semi-bold-letter-spacing: 0px;
    --display-4-semi-bold-line-height: 24px;
    --display-4-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-4-uppercase-extra-bold-font-size: 18px;
    --display-4-uppercase-extra-bold-font-style: normal;
    --display-4-uppercase-extra-bold-font-weight: 800;
    --display-4-uppercase-extra-bold-letter-spacing: 1.08px;
    --display-4-uppercase-extra-bold-line-height: 24px;
    --display-4-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-4-uppercase-regular-font-size: 18px;
    --display-4-uppercase-regular-font-style: normal;
    --display-4-uppercase-regular-font-weight: 400;
    --display-4-uppercase-regular-letter-spacing: 1.08px;
    --display-4-uppercase-regular-line-height: 24px;
    --display-4-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-4-uppercase-semi-bold-font-size: 18px;
    --display-4-uppercase-semi-bold-font-style: normal;
    --display-4-uppercase-semi-bold-font-weight: 600;
    --display-4-uppercase-semi-bold-letter-spacing: 1.08px;
    --display-4-uppercase-semi-bold-line-height: 24px;
    --display-5-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-5-extra-bold-font-size: 20px;
    --display-5-extra-bold-font-style: normal;
    --display-5-extra-bold-font-weight: 800;
    --display-5-extra-bold-letter-spacing: 0px;
    --display-5-extra-bold-line-height: 28px;
    --display-5-regular-font-family: "Inter-Regular", Helvetica;
    --display-5-regular-font-size: 20px;
    --display-5-regular-font-style: normal;
    --display-5-regular-font-weight: 400;
    --display-5-regular-letter-spacing: 0px;
    --display-5-regular-line-height: 28px;
    --display-5-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-5-semi-bold-font-size: 20px;
    --display-5-semi-bold-font-style: normal;
    --display-5-semi-bold-font-weight: 600;
    --display-5-semi-bold-letter-spacing: 0px;
    --display-5-semi-bold-line-height: 28px;
    --display-5-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-5-uppercase-extra-bold-font-size: 20px;
    --display-5-uppercase-extra-bold-font-style: normal;
    --display-5-uppercase-extra-bold-font-weight: 800;
    --display-5-uppercase-extra-bold-letter-spacing: 1.2px;
    --display-5-uppercase-extra-bold-line-height: 28px;
    --display-5-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-5-uppercase-regular-font-size: 20px;
    --display-5-uppercase-regular-font-style: normal;
    --display-5-uppercase-regular-font-weight: 400;
    --display-5-uppercase-regular-letter-spacing: 1.2px;
    --display-5-uppercase-regular-line-height: 28px;
    --display-5-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-5-uppercase-semi-bold-font-size: 20px;
    --display-5-uppercase-semi-bold-font-style: normal;
    --display-5-uppercase-semi-bold-font-weight: 600;
    --display-5-uppercase-semi-bold-letter-spacing: 1.2px;
    --display-5-uppercase-semi-bold-line-height: 28px;
    --display-6-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-6-extra-bold-font-size: 24px;
    --display-6-extra-bold-font-style: normal;
    --display-6-extra-bold-font-weight: 800;
    --display-6-extra-bold-letter-spacing: 0px;
    --display-6-extra-bold-line-height: 32px;
    --display-6-regular-font-family: "Inter-Regular", Helvetica;
    --display-6-regular-font-size: 24px;
    --display-6-regular-font-style: normal;
    --display-6-regular-font-weight: 400;
    --display-6-regular-letter-spacing: 0px;
    --display-6-regular-line-height: 32px;
    --display-6-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-6-semi-bold-font-size: 24px;
    --display-6-semi-bold-font-style: normal;
    --display-6-semi-bold-font-weight: 600;
    --display-6-semi-bold-letter-spacing: 0px;
    --display-6-semi-bold-line-height: 32px;
    --display-6-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-6-uppercase-extra-bold-font-size: 24px;
    --display-6-uppercase-extra-bold-font-style: normal;
    --display-6-uppercase-extra-bold-font-weight: 800;
    --display-6-uppercase-extra-bold-letter-spacing: 1.44px;
    --display-6-uppercase-extra-bold-line-height: 32px;
    --display-6-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-6-uppercase-regular-font-size: 24px;
    --display-6-uppercase-regular-font-style: normal;
    --display-6-uppercase-regular-font-weight: 400;
    --display-6-uppercase-regular-letter-spacing: 1.44px;
    --display-6-uppercase-regular-line-height: 32px;
    --display-6-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-6-uppercase-semi-bold-font-size: 24px;
    --display-6-uppercase-semi-bold-font-style: normal;
    --display-6-uppercase-semi-bold-font-weight: 600;
    --display-6-uppercase-semi-bold-letter-spacing: 1.44px;
    --display-6-uppercase-semi-bold-line-height: 32px;
    --display-7-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-7-extra-bold-font-size: 30px;
    --display-7-extra-bold-font-style: normal;
    --display-7-extra-bold-font-weight: 800;
    --display-7-extra-bold-letter-spacing: 0px;
    --display-7-extra-bold-line-height: 36px;
    --display-7-regular-font-family: "Inter-Regular", Helvetica;
    --display-7-regular-font-size: 30px;
    --display-7-regular-font-style: normal;
    --display-7-regular-font-weight: 400;
    --display-7-regular-letter-spacing: 0px;
    --display-7-regular-line-height: 36px;
    --display-7-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-7-semi-bold-font-size: 30px;
    --display-7-semi-bold-font-style: normal;
    --display-7-semi-bold-font-weight: 600;
    --display-7-semi-bold-letter-spacing: 0px;
    --display-7-semi-bold-line-height: 36px;
    --display-7-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-7-uppercase-extra-bold-font-size: 30px;
    --display-7-uppercase-extra-bold-font-style: normal;
    --display-7-uppercase-extra-bold-font-weight: 800;
    --display-7-uppercase-extra-bold-letter-spacing: 1.8px;
    --display-7-uppercase-extra-bold-line-height: 36px;
    --display-7-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-7-uppercase-regular-font-size: 30px;
    --display-7-uppercase-regular-font-style: normal;
    --display-7-uppercase-regular-font-weight: 400;
    --display-7-uppercase-regular-letter-spacing: 1.8px;
    --display-7-uppercase-regular-line-height: 36px;
    --display-7-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-7-uppercase-semi-bold-font-size: 30px;
    --display-7-uppercase-semi-bold-font-style: normal;
    --display-7-uppercase-semi-bold-font-weight: 600;
    --display-7-uppercase-semi-bold-letter-spacing: 1.8px;
    --display-7-uppercase-semi-bold-line-height: 36px;
    --display-8-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-8-extra-bold-font-size: 36px;
    --display-8-extra-bold-font-style: normal;
    --display-8-extra-bold-font-weight: 800;
    --display-8-extra-bold-letter-spacing: 0px;
    --display-8-extra-bold-line-height: 40px;
    --display-8-regular-font-family: "Inter-Regular", Helvetica;
    --display-8-regular-font-size: 36px;
    --display-8-regular-font-style: normal;
    --display-8-regular-font-weight: 400;
    --display-8-regular-letter-spacing: 0px;
    --display-8-regular-line-height: 40px;
    --display-8-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-8-semi-bold-font-size: 36px;
    --display-8-semi-bold-font-style: normal;
    --display-8-semi-bold-font-weight: 600;
    --display-8-semi-bold-letter-spacing: 0px;
    --display-8-semi-bold-line-height: 40px;
    --display-8-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-8-uppercase-extra-bold-font-size: 36px;
    --display-8-uppercase-extra-bold-font-style: normal;
    --display-8-uppercase-extra-bold-font-weight: 800;
    --display-8-uppercase-extra-bold-letter-spacing: 2.16px;
    --display-8-uppercase-extra-bold-line-height: 40px;
    --display-8-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-8-uppercase-regular-font-size: 36px;
    --display-8-uppercase-regular-font-style: normal;
    --display-8-uppercase-regular-font-weight: 400;
    --display-8-uppercase-regular-letter-spacing: 2.16px;
    --display-8-uppercase-regular-line-height: 40px;
    --display-8-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-8-uppercase-semi-bold-font-size: 36px;
    --display-8-uppercase-semi-bold-font-style: normal;
    --display-8-uppercase-semi-bold-font-weight: 600;
    --display-8-uppercase-semi-bold-letter-spacing: 2.16px;
    --display-8-uppercase-semi-bold-line-height: 40px;
    --display-9-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-9-extra-bold-font-size: 48px;
    --display-9-extra-bold-font-style: normal;
    --display-9-extra-bold-font-weight: 800;
    --display-9-extra-bold-letter-spacing: 0px;
    --display-9-extra-bold-line-height: 48px;
    --display-9-regular-font-family: "Inter-Regular", Helvetica;
    --display-9-regular-font-size: 48px;
    --display-9-regular-font-style: normal;
    --display-9-regular-font-weight: 400;
    --display-9-regular-letter-spacing: 0px;
    --display-9-regular-line-height: 48px;
    --display-9-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-9-semi-bold-font-size: 48px;
    --display-9-semi-bold-font-style: normal;
    --display-9-semi-bold-font-weight: 600;
    --display-9-semi-bold-letter-spacing: 0px;
    --display-9-semi-bold-line-height: 48px;
    --display-9-uppercase-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
    --display-9-uppercase-extra-bold-font-size: 48px;
    --display-9-uppercase-extra-bold-font-style: normal;
    --display-9-uppercase-extra-bold-font-weight: 800;
    --display-9-uppercase-extra-bold-letter-spacing: 2.88px;
    --display-9-uppercase-extra-bold-line-height: 48px;
    --display-9-uppercase-regular-font-family: "Inter-Regular", Helvetica;
    --display-9-uppercase-regular-font-size: 48px;
    --display-9-uppercase-regular-font-style: normal;
    --display-9-uppercase-regular-font-weight: 400;
    --display-9-uppercase-regular-letter-spacing: 2.88px;
    --display-9-uppercase-regular-line-height: 48px;
    --display-9-uppercase-semi-bold-font-family: "Inter-SemiBold", Helvetica;
    --display-9-uppercase-semi-bold-font-size: 48px;
    --display-9-uppercase-semi-bold-font-style: normal;
    --display-9-uppercase-semi-bold-font-weight: 600;
    --display-9-uppercase-semi-bold-letter-spacing: 2.88px;
    --display-9-uppercase-semi-bold-line-height: 48px;
    --illustration-colorsskin-100: #ffeee4;
    --illustration-colorsskin-200: #ffe6d7;
    --illustration-colorsskin-300: #f9dfd0;
    --illustration-colorsskin-400: #e5c5ac;
    --neutral-colors100: #e3efff;
    --neutral-colors200: #c3ddff;
    --neutral-colors300: #8dc1ff;
    --neutral-colors400: #4e9fff;
    --primary-palettered: #a0060e;
    --secondary-colorsgreen-100: #e0950c;
    --secondary-colorsgreen-200: #cc880b;
    --secondary-colorsgreen-300: #9f6a09;
    --secondary-colorsorange-400: #7b5207;
    --state-colorerror: red;
    --state-colorinfo: #2f80ed;
    --state-colorsuccess: #27ae60;
    --state-colorwarning: #e2b93b;
  }
  .frame {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    display: flex;
    position: relative;
  }
  .frame .div-wrapper {
    flex: none;
    align-self: stretch;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px 24px;
    display: flex;
    position: relative;
  }
  .frame .text-wrapper {
    color: var(--secondary-colorsorange-400);
    font-family: var(--display-6-extra-bold-font-family);
    font-size: var(--display-6-extra-bold-font-size);
    font-style: var(--display-6-extra-bold-font-style);
    font-weight: var(--display-6-extra-bold-font-weight);
    letter-spacing: var(--display-6-extra-bold-letter-spacing);
    line-height: var(--display-6-extra-bold-line-height);
    text-align: center;
    white-space: nowrap;
    flex: 1;
    height: 17.38px;
    margin-top: -1px;
    position: relative;
  }
  .frame .div {
    flex-direction: column;
    flex: none;
    align-self: stretch;
    align-items: center;
    gap: 20px;
    width: 100%;
    display: flex;
    position: relative;
  }
  .frame .text-wrapper-2 {
    color: var(--color-blackblack-400);
    font-family: var(--display-2-extra-bold-font-family);
    font-size: var(--display-2-extra-bold-font-size);
    font-style: var(--display-2-extra-bold-font-style);
    font-weight: var(--display-2-extra-bold-font-weight);
    letter-spacing: var(--display-2-extra-bold-letter-spacing);
    line-height: var(--display-2-extra-bold-line-height);
    align-self: stretch;
    margin-top: -1px;
    position: relative;
  }
  .frame .div-2 {
    background-color: #d1d1d133;
    border-radius: 5px;
    flex: none;
    align-self: stretch;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px;
    display: flex;
    position: relative;
  }
  .frame .icon-instance-node {
    width: 24px !important;
    height: 24px !important;
    position: relative !important;
  }
  .frame .text-wrapper-3 {
    color: var(--color-blackblack-300);
    font-family: var(--display-2-regular-font-family);
    font-size: var(--display-2-regular-font-size);
    font-style: var(--display-2-regular-font-style);
    font-weight: var(--display-2-regular-font-weight);
    letter-spacing: var(--display-2-regular-letter-spacing);
    line-height: var(--display-2-regular-line-height);
    flex: 1;
    position: relative;
  }
  .frame .text-wrapper-4 {
    color: var(--color-blackblack-400);
    font-family: var(--display-2-extra-bold-font-family);
    font-size: var(--display-2-extra-bold-font-size);
    font-style: var(--display-2-extra-bold-font-style);
    font-weight: var(--display-2-extra-bold-font-weight);
    letter-spacing: var(--display-2-extra-bold-letter-spacing);
    line-height: var(--display-2-extra-bold-line-height);
    align-self: stretch;
    position: relative;
  }
  .frame .div-3 {
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
    position: relative;
  }
  .frame .icon-instance-node-2 {
    width: 12px !important;
    height: 12px !important;
    position: relative !important;
  }
  .frame .div-4 {
    flex: none;
    justify-content: center;
    align-self: stretch;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    display: flex;
    position: relative;
  }
  .frame .button-wrapper {
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    gap: 20px;
    display: flex;
    position: relative;
  }
  .frame .button {
    all: unset;
    box-sizing: border-box;
    background: linear-gradient(#a0060e 0%, #e0950c 100%);
    border-radius: 40px;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .frame .state-layer {
    flex: none;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 20px;
    display: flex;
    position: relative;
  }
  .frame .label-text {
    color: var(--color-blackblack-100);
    font-family: var(--display-3-extra-bold-font-family);
    font-size: var(--display-3-extra-bold-font-size);
    font-style: var(--display-3-extra-bold-font-style);
    font-weight: var(--display-3-extra-bold-font-weight);
    letter-spacing: var(--display-3-extra-bold-letter-spacing);
    line-height: var(--display-3-extra-bold-line-height);
    text-align: center;
    white-space: nowrap;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -1px;
    position: relative;
  }
  .frame .button-wrapper-2 {
    all: unset;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    gap: 20px;
    display: flex;
    position: relative;
  }
  .frame .state-layer-wrapper {
    all: unset;
    box-sizing: border-box;
    border: 1px solid #0000;
    border-image: linear-gradient(#a0060e, #e0950c) 1;
    border-radius: 40px;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: -1px;
    padding: 0 20px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .frame .label-text-2 {
    color: var(--color-blackblack-400);
    font-family: var(--display-3-extra-bold-font-family);
    font-size: var(--display-3-extra-bold-font-size);
    font-style: var(--display-3-extra-bold-font-style);
    font-weight: var(--display-3-extra-bold-font-weight);
    letter-spacing: var(--display-3-extra-bold-letter-spacing);
    line-height: var(--display-3-extra-bold-line-height);
    text-align: center;
    white-space: nowrap;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -1px;
    position: relative;
  }
  .frame .div-5 {
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    gap: 30px;
    width: 100%;
    display: flex;
    position: relative;
  }
  .frame .card {
    background-color: #fff;
    border: 0.5px solid #0000;
    border-image: linear-gradient(#a0060e, #e0950c) 1;
    border-radius: 20px;
    flex: none;
    align-self: stretch;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding: 28px;
    display: flex;
    position: relative;
  }
  .frame .card-tick-wrapper {
    background-color: var(--secondary-colorsorange-400);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 64px;
    height: 64px;
    padding: 11px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .frame .card-tick {
    width: 36px !important;
    height: 36px !important;
    position: relative !important;
  }
  .frame .div-6 {
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    gap: 15px;
    display: flex;
    position: relative;
  }
  .frame .text-wrapper-5 {
    color: var(--color-blackblack-400);
    font-family: var(--display-8-extra-bold-font-family);
    font-size: var(--display-8-extra-bold-font-size);
    font-style: var(--display-8-extra-bold-font-style);
    font-weight: var(--display-8-extra-bold-font-weight);
    letter-spacing: var(--display-8-extra-bold-letter-spacing);
    line-height: var(--display-8-extra-bold-line-height);
    align-self: stretch;
    margin-top: -1px;
    position: relative;
  }
  .frame .text-wrapper-6 {
    color: var(--color-blackblack-400);
    font-family: var(--display-5-regular-font-family);
    font-size: var(--display-5-regular-font-size);
    font-style: var(--display-5-regular-font-style);
    font-weight: var(--display-5-regular-font-weight);
    letter-spacing: var(--display-5-regular-letter-spacing);
    line-height: var(--display-5-regular-line-height);
    align-self: stretch;
    position: relative;
  }
  /*# sourceMappingURL=index.4292b096.css.map */
  